*{
    margin: 0;
    padding: 0;
}

*:focus{
    outline: none;
}

a{
    text-decoration: none;
    outline: none;
}

.bonus-header__title > h4{


    color: white!important;

}

:root{
    --bonus-details-color: #eff4f5; /* цвет кнопки авторизации и тега exclusive */
    --bonus-get-button-color:#22297b;/* цвет кнопки получить бонус */
    --title-font-family:'Oswald', sans-serif;/* шрифт заголовка */
    --main-font-family: 'Open Sans', sans-serif;/* основной шрифт блока */
}

.temp{
    max-width: 960px;
    margin: auto;
}

.bonus{
    margin-bottom: 40px;
    width: 100%;
    position: relative;
    padding: 1em 1.6em;
    box-sizing: border-box;
    z-index: 1;
}

.bonus::after{
    content:"";
    opacity:0.7;
    background: #000000;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.bonus a{
    color: white;
}

.bonus__header{
    margin-bottom: 2.2em;
}

.bonus-header__top{
    display: flex;
    justify-content: start;
    align-items: center;
    max-height: 3em;
    margin-bottom: 1em;
}

.bonus-header-top__image{
    max-height: 3em;
    margin-right: 1.5em;
}

.bonus-header-top__tags{
    display: flex;
}

.bonus-header-top__tags span{
    margin-right: 1em;
    font-size: 14px;
    font-family: var(--main-font-family);
    color: white;
}

.bonus-header-top-tags__exclusive{
    display: inline;
    position: relative;
}

.bonus-header-top-tags-exclusive__label{
    padding: 0.2em 0.4em;
    background: var( --bonus-details-color);
}

.bonus-header-top-tags-exclusive__tooltip{
    display: none;
}

.bonus-header__title{
    display: block;
    font-size: 16px;
    font-family: var(--title-font-family);
    margin-bottom: .6em;
}

.bonus-header__authorization{
    display: inline-block;
}

.bonus-header-authorization__link{
    font-size: 14px;
    font-family: var(--main-font-family);
    background: var(--bonus-details-color);
    padding: 0.3em 0.5em;
}

.bonus-body__content{
    color: white;
    font-size: 14px;
    font-family: var(--main-font-family);
    margin-bottom: .6em;
}

.bonus-body__more-link{
    position: relative;
    color: white;
    font-size: 14px;
    font-family: var(--main-font-family);
    font-weight: 600;
    margin-bottom: 3em;
}
.bonus-body-more-link__link{
    border-bottom:2px solid;
    margin-right: 2.5em;
}

.bonus-body-more-link__comments{
    color: white;
}

.bonus-body__get-link{
    display: inline-block;
    font-size: 20px;
    font-family: var(--main-font-family);
    padding: .8em 1em;
    background: var(--bonus-get-button-color);
    box-sizing: border-box;
    margin-bottom: .8em;
}


@media(min-width:480px){

    .bonus-header-top__tags{
        align-items: baseline;
    }

    .bonus-header-top-tags-exclusive__tooltip-button{
        display: none
    }

    .bonus-header-top-tags-exclusive__label{
        cursor: help;
    }

    .bonus-header-top-tags-exclusive__label:hover + .bonus-header-top-tags-exclusive__tooltip{
        display: inline;
        background: #fff;
        color: black;
        font-size: 12px;
        padding: 0.2em 0.4em;
        position: absolute;
        top: 0;
    }

    .bonus-header-top-tags-exclusive__tooltip::before{
        content: "";
        position: absolute;
        top: 0;
        left:-.6em;
        box-sizing:border-box;
        border: .4em solid transparent;
        border-top:.4em solid #fff;
        border-right:.4em solid #fff;
    }
}

@media(max-width:480px){
    .bonus-header-top__tags{
        flex-direction: column;
    }
    .bonus-header-top__tags span{
        font-size: 12px;
        margin-bottom:.5em
    }

    .bonus-header-top-tags-exclusive__tooltip-button{
        display: block;
        position: absolute;
        top:0;
        left:0;
        height:0;
        width: 0;
        visibility: hidden
    }

    label[for^="bonus-header-top-tags-exclusive__checkbox-id"]{
        position: absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
    }

    .bonus-header-top-tags-exclusive__tooltip-button:checked ~ .bonus-header-top-tags-exclusive__tooltip{
        display: inline;
        background: #fff;
        color: black;
        font-size: 12px;
        padding: 0.2em 0.4em;
        position: absolute;
        top: calc( 100% + 1em);
        left: 0;
    }

    .bonus-header-top-tags-exclusive__tooltip::before{
        content: "";
        position: absolute;
        top: -1.1em;
        left:10%;
        box-sizing:border-box;
        border: .6em solid transparent;
        border-bottom:.6em solid #fff;
    }

    .bonus-header-top__tags >span{
        margin-right: 0;
    }
}