<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML  4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Тег TABLE</title>
</head>
<body>

<h1>Добавить</h1>
<form action="" method="post">
    <div class="form-group">
        <label for="exampleFormControlInput1">Название</label>
        <input type="text" required="true" name="title" class="form-control" id="exampleFormControlInput1" placeholder="Название">
    </div>
    <div class="form-group">
        <label for="exampleFormControlInput1">Картинка</label>
        <input type="text" required="true"  name="img" class="form-control" id="exampleFormControlInput1" placeholder="Название">
    </div>
    <div class="form-group">
        <label for="exampleFormControlTextarea1">Текст</label>
        <textarea class="form-control" required="true" name="text" id="exampleFormControlTextarea1" rows="15"></textarea>
    </div>

    <button type="submit" class="btn btn-primary mb-2">Добавить</button>
</form>


<hr>
<div class="table-responsive">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Редактировать</th>
            <th scope="col">Название</th>
            <th scope="col">Картинка</th>
            <th scope="col">Текст</th>
        </tr>
        </thead>
        <tbody>
        {% for i in 0..rows|length-1 %}
            <tr>

                <td scope="row"><a href="?{{ rows[i].id }}">Редактировать</a></td>
                <td>{{ rows[i].title }}</td>
                <td><img style="width: 100%; height: 100%;" src=" {{ rows[i].img }}" ></td>
                <td>{{ rows[i].text|nl2br }}</td>

            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>


</body>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>



